.logo{		
    color: #ff7200;
    font-size: 78px;
    font-family: Arial;
    float: center;
    padding-top: 10px;
}
.l1{
padding-top:-200px;
float:center;
font-size:50px;
font-famiy:Arial;
color:dark;
}
.h1{

background:#FBFCFC; 
}

.ad{
padding-top:10px;
height:40px;
font-size:24px;
background-color:skyblue;
color:dark;
}

body{
display:absolute
}
.ra
{
padding-top:10px;
background:#F1948A  ;
padding-bottom:10px;
}
.btn{
height:50px;
width:200px;
font-size:34px;
font-family:calibri;
border-radius:10px;
background-color:#48C9B0;
cursor:pointer;
}
.about{
padding-left:50px;
padding-right:10px;

font-family:Monospace;
font-size:30px;
font-style:italic;
}
.abtcnt{
color:black;
}
.courses{
font-size:30px;

padding-left:50px;
background:#AED6F1;
padding-top:20px;
padding-bottom:20px;
}
.btn1{
height:50px;
width:200px;
font-size:24px;
font-family:calibri;
border-radius:10px;
background-color:#48C9B0;
cursor:pointer;
}
.vismis h2{
padding-left:50px;
font-size :40px;

}
.vis{
max-width:320px;
float:left;
}
.vismis p{
font-size :35px;
}
.mis{
max-width:320px;
float:left;
}
.enquiry{
padding-left:100px;
font-size:30px;
}
.man{
color:red;
}
.enquiry input{
height:40px;	
width:900px;
}
.enquiry button{
height:40px;
width:160px;
cursor:pointer;
font-size:20px;
}
.footer{
padding-left:50px;
padding-right:200px;
background:#EAEDED;
height:330px;
}
.footer h4
{
font-size:50px;
}
.add{
font-size:20px;
}
.map{
max-width:320px;
float:right;
}
.copy{
padding-left:8px;
}
.footer h6
{
font-size:30px;
}
.res{
padding-left:500px;

font-size:30px;
}
#reg,#dob {
height:30px;
width:150px;

border-radius:10px;
}

#dob:hover,#reg:hover{
border-color:blue;
}
#btns{
background:skyblue;
height:30px;
width:100px;
font-size:20px;
font-family:arial;
border-radius:5px;
cursor:pointer;
color:dark;
}
#btns:hover{
background:#F2F3F4 ;
}
.ex{
font-size:20px;
}
.tab,th,tr{
border-collapse:collapse;
border:2px solid black ;
width:25%;
 }
#ress{
padding-left:640px;
font-size:30px;
}
.btn1{
height:40px;
width:100px;
background:skyblue;
color:dark;
}
.resul{
padding-left:550px;
}
.adm
{
padding-left:550px;
font-size:30px
}
.btn2{
height:40px;
width:250px;
background:skyblue;
color:dark;
font-size:30px;
font-family:arial;
border-radius:10px;
cursor:pointer;
}
.bck{
height:40px;
width:250px;
background:#FFEB3B;
color:dark;
border-radius:10px;
cursor:pointer;
font-size:25px;
}
.btns{
height:40px;
width:200px;
background:skyblue;
color:dark;
font-size:20px;
cursor:pointer;
}
.ug{
padding-left:200px;
font-size:30px;
}
.ug input,select{
height:30px;
width:450px;
}